{% extends "layout.html" %}
{% block body %}

<script>
    $(document).ready(function() {
        $('.btn').button();
    });
</script>
<script type="text/javascript">
 
$(document).ready(function(){
    $("#addAgenda").click(function () {
      var previousAgendaElementId = $('#agenda').children().last().attr('id');
      var previousAgendaId = parseInt(previousAgendaElementId.charAt(previousAgendaElementId.length-1));

      var newAgendaId = previousAgendaId + 1;
   
      $('#agenda').append('<br><textarea id="agendum-' + newAgendaId + '" rows="4" cols="50"></textarea>');
    });
 
    $("#removeAgenda").click(function () {
      $('#agenda').children().last().remove();
    });
  });

  function addSpeaker(){
    var previousSpeakerElementId = $('#speakers-container').children().last().attr('id');
    var previousSpeakerId = parseInt(previousSpeakerElementId.charAt(previousSpeakerElementId.length-1));

    var newSpeakerId = previousSpeakerId + 1;

    var speakerElement = '<br><br><div id="speaker-container-' + newSpeakerId + '" class="speech"> \
      <div id="speaker-name-' + newSpeakerId + '" class="speech"> \
        <input type="text" id="speaker-name-' + newSpeakerId + '" class="speech"> \
      </div> \
      <div id="speaker-paragraphs-' + newSpeakerId + '" class="speech"> \
        <textarea id="speaker-' + newSpeakerId + '-paragraph-1" rows="4" cols="50" class="speech"></textarea> \
      </div> \
        <div id="speaker-buttons-' + newSpeakerId + '"> \
        <input type="button" value="Add Paragraph" onClick="javascript:addParagraph(' + newSpeakerId + ');"> \
        <input type="button" value="Remove Paragraph" onClick="javascript:removeParagraph(' + newSpeakerId + ');"> \
      </div> \
    </div>';

    $("#speakers-container").append(speakerElement);
  }

  function addParagraph(speakerId){
    var speakersLastParagraphElementId = $('#speaker-paragraphs-' + speakerId).children().last().attr('id');
    var lastParagraphId = parseInt(speakersLastParagraphElementId.charAt(speakersLastParagraphElementId.length-1));

    var newParagraphId = lastParagraphId + 1;

    var speakerParagraphElemment = '<br><textarea id="speaker-' + speakerId + '-paragraph-' + newParagraphId + '" rows="4" cols="50" class="speech"></textarea>';

    $('#speaker-paragraphs-' + speakerId).append(speakerParagraphElemment);

  }
 

  function removeParagraph(speakerId){
    $('#speaker-paragraphs-' + speakerId).children().last().remove();
  }

  function submit_form(){
    var agendaArray = buildAgendaJson();

    var speechArray = buildSpeechJson();

    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "{{ url_for("transcription") }}",
      data: JSON.stringify({ agenda: agendaArray, speech: speechArray }),
      dataType: "JSON"
    });

  }

  function buildAgendaJson(){
    var agendaArray = [];

    var agenda_id = 1;
    $('#agenda').children('textarea').each(function () {
      agendaJSON = {
          session_title: "I MBLEDHJES PLENARE TË KUVENDIT TË REPUBLIKËS SË KOSOVËS, E MBAJTUR MË 23 PRILL 2014 (Ora 16:00)",
          date: "23 PRILL 2014 (Ora 16:00)",
          agenda_id: agenda_id,
          text: this.value
      };

      agendaArray.push(agendaJSON);

      agenda_id = agenda_id + 1;
    });

    return agendaArray;
  }

  function buildSpeechJson(){
    var title = $('#title').value;
    speechArray = [];
    speakerParagraph = [];
    $('#speakers-container').children('.speech').each(function (index){
      speakerElements = $(this).children('.speech');

      speakerName = $(speakerElements[0]).children('.speech')[0].value;
      console.log(speakerName);

      $(speakerElements[1]).children('.speech').each(function (){
        speakerParagraph.push($(this)[0].value);
        console.log(speakerParagraph);

      });
      speechJSON = {
              session_title: title,
              date: "23 PRILL 2014 (Ora 16:00)",
              speech_id: 1,
              speaker: speakerName,
              text: speakerParagraph
          };
      speechArray.push(speechJSON);
      speakerParagraph = [];
    });
    
    return speechArray;
  }

</script>

<style>
td{
  padding:15px;
}
</style>
 
<form>
  <div>
    <h3>Fill the form.</h3>
    <table>
      <tr>
        <td>Title</td>
        <td><input type="text" id="title"></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><input type="text" id="date"></td>
      </tr>
      <tr>
        <td>Main Speaker</td>
        <td><input type="text" id="main-speaker"></td>
      </tr>
      <tr>
        <td style="vertical-align: top;">
          Agenda
        </td>
        <td>
          <div id="agenda">
            <textarea id="agendum-1" rows="4" cols="50"></textarea>
          </div>
          <div id="agenda-butons">
            <input type='button' value='Add Agenda' id='addAgenda'>
            <input type='button' value='Remove Agenda' id='removeAgenda'>
          </div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">
          Speaker
        </td>
        <td>
          <div id="speakers-container">
            <div id="speaker-container-1" class="speech">
              <div id="speaker-name-1" class="speech">
                <input type="text" id="speaker-name-1" class="speech">
              </div>
              <div id="speaker-paragraphs-1" class="speech">
                <textarea id="speaker-1-paragraph-1" rows="4" cols="50" class="speech"></textarea>
              </div>
                <div id="speaker-buttons-1">
                <input type='button' value='Add Paragraph' onClick='javascript:addParagraph(1);'>
                <input type='button' value='Remove Paragraph' onClick='javascript:removeParagraph(1);'>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type='button' value='Add Speaker' onClick='javascript:addSpeaker()'>
        </td>
      </tr>
    </table>
  </div>

    <br/>
    <div align="center">
        <button  type='button' onClick="javscript:submit_form()">Vazhdo</button>
    </div>
    <br/>
</form>


<br><br>
{% endblock %}